::selection, ::-moz-selection {
    background-color: #EEE;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 300px;
    
    color: #AAA;
}

a {
    color: #CCC;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}
#filler {
    text-align: center;
    min-height: 100%;
    
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #15618A;
    flex-wrap: wrap;
    color: #FFF;
}

#filler > div {
    width: 100%;
    padding: 1em;
}

#filler #card {
    background-color: rgba(0, 0, 0, 0.3);
}
#filler #me {
    padding-top: 3em;
    padding-bottom: 0em;
}
#filler #me div {
    padding: .2em;
}

.box {
    display: block;
    width: 100% !important;
    background-color: #444;
    color: #CCC;
}

.box .header {
    font-size: 2.5em;
    padding: .5em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.box .content {
    padding: 1em;
    max-width: 1000px;
    margin: auto;
}

.box#code .header {
    color: orangered;
}
.box#code {
    background-color: #8C4125;
}
.box#music .header {
    color: yellowgreen;
}
.box#music {
    background-color: #3F7243;
}
.box#contact .header {
    color: mediumpurple;
}
.box#contact {
    background-color: #644E6B;
}
.box#blog .header {
    color: orange;
}
.box#blog {
    background-color: #986200;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-flow: space-between;
    align-items: stretch;
    align-content: stretch;
}

.grid .item {
    position: relative;
    
    flex-grow: 1;
    width: 45%;
    height: 8em;
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 1em;
}

.grid .item div {
    width: 100%;
    text-align: center;
}

.grid .item .view {
    margin-top: 1em;
}

.grid .item .title {
    font-size: 2em;
}
.grid .item .arrow {
    align-self: flex-end;
}

.footer {
    text-align: center;
    padding: 1em;
    background-color: #222;
    color: #999;
}